<body>
	<h1> Welcome to Hermes </h1> </br>
	<h3> The package Delivery App </h3>
    <%= bootstrap_form_for @user, :url => { :controller => "sessions", :action => "create" } do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in" %>
<% end %>
</body>